.add-item {
    margin-top: 40px;
}

.add-item__input {  
    border: 0;
    border-bottom: 3px dashed #fdcb6e;
    background-color: transparent;
    font-family: "Architects Daughter", sans-serif;
    font-size: 1.5rem;
    padding: 10px 15px;
    width: 70%;
    color: #494a4b;
}

.add-item__button {
    width: 100px;
    margin-top: 30px;
    margin-left: 20px;
    border: 3px solid hsl(198, 1%, 29%);
    border-radius: 8px;
    padding: 10px 15px;
    font-family: "Architects Daughter", sans-serif;
    font-size: 1.2rem;
}

.add-item__button:hover {
    background-color: #fdc66e;
}

.add-item__button:active {
    box-shadow: 0 1px 0 hsl(198, 1%, 29%);
    bottom:-4px;
  }